#compListItem {
    display: flex; justify-content: space-between; align-items: center;
    span+span {margin-left: 20px;}
    .icon {flex: 0 0 auto; font-size: 50px; line-height: 50px;}
    .name {flex: 1; font-size: 24px; line-height: 24px;}
    .button {flex: 0 0 auto;}
}
